{{!-- Name: Sukhbir Singh
ID -152946182 --}}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/347a9e55b8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <!--Bootstrap Stylesheet imported-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{head}}</title>
</head>

<body>
    <header>
        <p class="header"><span id="">Hi {{loggeduser}}  , </span>Get variety of Meal Packages! </p> 
        <nav class="navbar">

            <span class="navbar-toggle" id="js-navbar-toggle">
                <i class="fas fa-bars"></i>
            </span>
            <a href="/" class="logo"><i id="knife" class="fas fa-utensils"></i> Hunger Thief</a>

            <ul class="main-nav" id="js-menu" style="margin-right: 40px;">
                <li>
                    <a href="/" class="nav-links">Home</a>
                </li>
                <li>
                    <a href="/package" class="nav-links">All Packages</a>
                </li>

                <li>
                    <a href="/#chef" class="nav-links">Top Meals</a>
                </li>


                <li id="left">
                    <a href="#footertext" class="nav-links">About us</a>
                </li>
                {{#if alter}}
                <li>
                    <a href="/alter" class="nav-links">{{alter}}</a>
                </li>
                {{/if}}
        
                <li>
                    <a href="/login" class="nav-links">Login</a>
                </li>

                <li>
                    <a href="/logout" class="nav-links">Logout</a>
                </li>
            </ul>

        </nav>
    </header>
    {{{body}}}

    <footer>

        <div class="footer">
            <div id="footertext">

                <div><span id="hungerThief"
                        style=" font-weight: 600; font-size: 30px;color: white; font-family: Verdana, Geneva, Tahoma, sans-serif;">
                        Hunger <span style="color:yellowgreen">Thief</span>

                    </span>
                    <p style="font-weight: 700; font-size: 20px; color: whitesmoke;"> Follow Us</p>
                    <p style=" margin-bottom: 2px; color: yellowgreen;">Be social</p>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-youtube"></i>
                </div>

                <div> <span>
                        <div
                            style="font-size: 25px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   text-shadow: 2px 2px black;">
                            Menu Items
                        </div>
                        <br>
                        <div id="footermenu">
                            <a href="/package">All Packages</a> <br>
                            <div id="footerlist"> Detox <br>
                                Vegan <br>
                                Fat Burn <br>
                                Weight Loss <br></div>
                            <br>
                            <a href="/#chef">Visit Our Kitchen</a>
                        </div>
                    </span>
                </div>

                <div> <span>
                        <div id="aboutus"
                            style="font-size: 25px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   text-shadow: 2px 2px black;">
                            About us
                        </div>
                        <br>
                        <div id="footerlist">
                            Serving Worldwide <br>
                            International cuisines <br>
                            Meal Packages available <br>
                            Free delivery for preminum members <br>
                        </div>
                        <br>
                        <div id="footerloginup">
                            <div>
                                Existing User?<a href="/login"> Login here</a>
                            </div>
                            <div>
                                New User? <a href="/signup">Sign up now</a>
                            </div>
                        </div>


                    </span>
                </div>

            </div>


        </div>
        <br>
        <br>
        <hr>
        <div style="text-align: right; color: rgba(245, 245, 245, 0.473);">Sukhbir Singh © 2020 , All rights reserved.
            Hand-crafted & Made By <span style="color: yellowgreen;">Hunger Thief</span> </div>


    </footer>



</body>
<script>
    let mainNav = document.getElementById('js-menu');
    let navBarToggle = document.getElementById('js-navbar-toggle');

    navBarToggle.addEventListener('click', function () {
        mainNav.classList.toggle('active');
    });
</script>

<style>
    /* Import Google Fonts */

    @import url('https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet&display=swap');

    * {
        box-sizing: border-box;
    }

    .navbar {
        display: block;
        flex-wrap: nowrap;
    }

    .btn-secondary {
        color: #ffffff;
        background-color: #ef5350;
        border: none !important;
    }

    .footer hr {
        border-top: 1px solid #e9ecef;
    }

    @media screen and (min-width: 769px) {
        .navbar {
            display: flex;
            flex-wrap: nowrap;
        }

        .logo {
            text-decoration: none;
        }
    }
</style>

</html>