{{!-- Name: Sukhbir Singh
ID -152946182 --}}
<main>
    <div id="formz">
        <form action="#" style="margin: 30px 350px" ;>
            <div class="container" style="border: 3px solid #f1f1f1">
                <h1>Sign in</h1>
                <p>Enter your details to sign in.</p>
                <hr>

                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" id="email" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" id="psw" style="margin: 5px 0 2px 0;"
                    required>

                <p><a href="#">Forgot Password</a></p>
                <button type="submit" class="signinupbtn">Sign in</button>
            </div>

            <div class="container signup">
                <p> New User? <a href="/signup">Create an Account</a>.</p>
            </div>
        </form>
    </div>

</main>